### NOTE: Users below must NOT be SAML or ESP/MSP Users.
###

CLOUDGENIX_USER = 'username@example.com'
CLOUDGENIX_PASSWORD = 'enterpassw0rdhere'

### Instead of CLOUDGENIX_USER or CLOUDGENIX_PASSWORD, you can set CLOUDGENIX_AUTH_TOKEN instead.
# CLOUDGENIX_AUTH_TOKEN = "<large static token string here>"
