### NOTE: Users below must NOT be SAML or ESP/MSP Users.
###

CLOUDGENIX_USER = 'username@example.com'
CLOUDGENIX_PASSWORD = 'enterpassw0rdhere'

### Instead of CLOUDGENIX_USER or CLOUDGENIX_PASSWORD, you can set CLOUDGENIX_AUTH_TOKEN instead.
# CLOUDGENIX_AUTH_TOKEN = "<large static token string here>"


### Tweaks to event processing.
## URL patterns to ignore for AUDIT events
AUDIT_EVENT_IGNORE = [
    '^\/v.\..\/api\/tenants\/(.*)\/topology$',
    '^\/v.\..\/api\/tenants\/(.*)\/monitor/(metrics|flows|object_stats)$',
    '^\/v.\..\/api\/tenants\/(.*)\/events/query$',
]

## Alarm event codes to ignore
ALARM_EVENT_IGNORE = [
    'APPLICATION_APP_UNREACHABLE'
]

## Alert event codes to ignore
ALERT_EVENT_IGNORE = [
    'APPLICATION_IP_COLLISION'
]
